/**Selectores de tipo*/
body{
    background-color: #230555;
    background-image: url("img/fondo_2.png");
    background-position: center -5% right 10%; 
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0;
} 

header, footer{
    /*background-color: var(--color-bg);*/
    background-color:  #230555;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 3px;
}

nav{
    /*background-color: var(--color-bg);*/
    background-color:  #230555;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end self-end;
    justify-content: flex-end;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 73vh;
}

article{
    align-self: center;
}

button{
    background-color:darkblue;
    color: white;
    border-radius: 15px;
    padding: 10px;
    width: 35%;
}

a{
    padding: 10px;
    flex-wrap: nowrap;
    align-items: center;
}

p{
    width: 310px;
    padding-left: 5%;
    /*align-content: flex-start;*/
}

a ion-icon,span{
    color: lightblue;
}

/**Selectores de clase*/
.box{
    display: flex;
    flex-direction: column;
    padding: 10%;
    /* width: 22vw;
    height: 55vh; */
    width: 300px;
    height: 350px;
    /* width: fit-content; */
    /* height: fit-content; */
}

.container{
    display: flex;
    flex-direction: row;
    columns: 2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 3%;
    /*padding-bottom: 3%;*/
}

/**Selectores de id*/
#data{
    border-radius: 15px;
    /*background-color: white;*/
    /*background: linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat,
    url(img/cipher_me.png) center no-repeat, rebeccapurple;*/
    background: url(img/encrypted.png) center no-repeat, lightblue;
    background: url(img/encrypt.png) center no-repeat, lightblue;
    /*border-color: green;
    border: 10px;*/
    background-size: initial;
    justify-content: space-around;
}

/** Selectores de atributo*/
textarea[id="msg"] {
    resize: none;
    background-color: rgba(255, 255, 255, 0.91);
    opacity: 1;
    color: #000000;
    width: 270px;
    height: 143px;
    font-style: italic;
    font-size:larger;
    align-self: center;
    border-radius: 5%;
    padding: 5%;
}

button[name="atras"], button[name="adelante"]{
    background-color: lightblue;
    display: block;
    height: 37px;
    width: 37px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

button[name="atras"]{
    background-image: url(img/flecha_izq.png);
}

button[name="adelante"]{
    background-image: url(img/flecha_der.png);
}

input[type="number"]{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
}

button:hover{
    background-color: cyan;
    cursor: pointer;
    color: darkblue;
}

input[type="number"]:focus {
    background-color: #f9f9f9;
}

section div[name="offset"]{
    align-items: center;
}