*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    background-color: #563B8F;
    background-color: #C4C8F3;
    /* background-image: url("img/fondo_2.png"); */
    /* background-position: center -5% right 10%;  */
    /* background-size:cover; */
    /* background-repeat: no-repeat; */
} 

header, footer{
    width: 100vw;
    height: calc(114px / 2 + 3px);
    flex-shrink: 0;
    background-color: #563B8F;
    display: flex;
    justify-content: center;
    /* fill: #563B8F; */
    position: fixed;
    color: #FFF;
}

header{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

header h1{
    position: absolute;
    margin-top: 5px;
    /* color: #FFF;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 4.3px; */
    color: #FFF;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 182.609% */
    letter-spacing: 2.3px;
}

header img{
    position: absolute;
    transform: translate(-6px, 46px);
}

main{
    position: absolute;
    top: calc(114px / 2 + 3px);
    width: 100vw;
    height: calc(100vh - (114px / 2 + 3px) - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

section{
    width: 80vw;
    max-width: 800px;
    min-width: 250px;
    display: flex;
    justify-content: space-around;
    /* background-color: green; */
    margin: 15px;
}

textarea{
    width: 90%;
    border-radius: 40px;
    border: 3px solid #563B8F;
    background: #D9D9D9;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    font-size: medium;
    color: #563B8F;

    text-align: center;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 350% */
    letter-spacing: 1.2px;
}

textarea::placeholder{
    color: darkslategrey;
    font-size: 15px;
}

button{
    width: 200px;
    height: 60px;
    color: #FFF;
    font-size: 20px;
    padding: 15px;
    border-radius: 40px;
    background-color: #563B8F;
    border: 5px solid #FEF87B;
    filter: drop-shadow(5px 10px 6px rgba(6, 11, 64, 0.87));
    cursor: pointer;
}

button:hover{
    background-color: #FEF87B;
    border: 5px solid #563B8F;
    color: #000000;
}

footer{
    position: absolute;
    bottom: 0;
    height: 40px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

/* footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 3px;
} */

/* nav{
    background-color:  #230555;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end self-end;
    justify-content: flex-end;
    color: white;
} */

/* main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 73vh;
}

article{
    align-self: center;
} */

/* a{
    padding: 10px;
    flex-wrap: nowrap;
    align-items: center;
} */

/* p{
    width: 310px;
    padding-left: 5%;
} */

/* a ion-icon,span{
    color: lightblue;
} */

/**Selectores de clase*/
/* .box{
    display: flex;
    flex-direction: column;
    padding: 10%;
    width: 300px;
    height: 350px;
} */

/* .container{
    display: flex;
    flex-direction: row;
    columns: 2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 3%;
} */

/**Selectores de id*/
#data{
    border-radius: 15px;
    /*background-color: white;*/
    /*background: linear-gradient(105deg, rgba(255,255,255,.2) 39%, rgba(51,56,57,1) 96%) center center / 400px 200px no-repeat,
    url(img/cipher_me.png) center no-repeat, rebeccapurple;*/
    background: url(img/encrypted.png) center no-repeat, lightblue;
    background: url(img/encrypt.png) center no-repeat, lightblue;
    /*border-color: green;
    border: 10px;*/
    background-size: initial;
    justify-content: space-around;
}

/** Selectores de atributo*/
textarea[id="msg"] {
    resize: none;
    background-color: rgba(255, 255, 255, 0.91);
    opacity: 1;
    color: #000000;
    width: 270px;
    height: 143px;
    font-style: italic;
    font-size:larger;
    align-self: center;
    border-radius: 5%;
    padding: 5%;
}


input[type="number"]{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 10px;
}

input[type="number"]:focus {
    background-color: #f9f9f9;
}

section div[name="offset"]{
    align-items: center;
}